<<<<<<< HEAD
=======
body {
    background: url(img/pic1.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    color:white;
}
>>>>>>> parent of c876ac2 (v.3.1.1 Fix background)
h1 {
    font-size: 500%;
    text-align: center;
}
h2 {
    font-size: 200%;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2%;
}
.icons{
    padding-top: 5%;
    text-align: center;
}
