body {
    background: url(https://github.com/CT4TuEI3/ct4tuei3.github.io/blob/main/img/pic1.jpg?raw=true) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    color:white;
}
h1 {
    font-size: 500%;
    text-align: center;
}
h2 {
    font-size: 200%;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2%;
}
.icons{
    padding-top: 5%;
    text-align: center;
}